{{#if isSecondary}}
    {{#foreach navigation}}
        <li class="nav-{{slug}}" role="menuitem">
            <a href="{{url}}">
                <svg class="icon" role="img" aria-label="{{slug}} icon">
                    <title>{{slug}}</title>
                    <use xlink:href="#{{slug}}"></use>
                </svg>
            </a>
        </li>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <li class="{{link_class for=(url) class=(concat "nav-" slug)}}" role="menuitem">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
{{/if}}