	{% include "_components/header" %}

	<div class="media">
	    <div class="container">
	    <h1 class="">{{ entry.blogTitle }}</h1>

	{% for asset in entry.blogFeaturedImage %}
	    <img src="{{ asset.url }}" alt="{{ asset.title }}">                               
	{% endfor %}

		{{!-- Try including a module with content in admin. --}}
{# Create a Matrix block query with the 'owner', 'fieldId', and 'type' parameters #}
{% set myMatrixBlockQuery = craft.matrixBlocks()
  .owner(myEntry)
  .fieldId(10)
  .type('text') %}

{# Fetch the Matrix blocks #}
{% set matrixBlocks = myMatrixBlockQuery.all() %}

{# Display their contents #}
{% for block in matrixBlocks %}
  <p>{{ block.text }}</p>
{% endfor %}


	    <div class="">
	      <p>{{ entry.postDate|datetime('D, M j, Y') }}</p>
	    </div>
	    <div class="">
	      {{ entry.blogContent }}
	    </div>
	  </div>
	</div>

	{% include '_components/footer' %}