{{!-- layouts/post-1-column.hbs --}}


{{#> layouts/headerfooter-common }}


{{#*inline "body"}}

	<article class="container">
		{{#> blocks/block-post-header number=0 }}
		{{/blocks/block-post-header}}

		<div class="article-body article-width">
			{{#> blocks/block-imagealigned align="right"}}
			{{/blocks/block-imagealigned}}

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}}
			</p>

			{{#> blocks/block-imagealigned align="left"}}
			{{/blocks/block-imagealigned}}

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}}
			</p>

			<p>
				{{select_content posts 0 'body'}} 
			</p>
		</div>

		<footer class="article-footer">
			<div class="article-meta">
				<!-- Share Links -->
			</div>
		</footer>
	</article>
{{/inline}}


{{/layouts/headerfooter-common}}
