/* wordpress-not-start */
<article class="article article-sm sm">
    <h2 class="">
        {{title}}
    </h2>

    /* Have a series of comments and sequence those commits in Gulp so it trips down to just what is needed for each use. (Combine more of these pieces and comment in line.) */
    
    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="post-card-image"

            /* preview-start */
            srcset="{{img_url_feature_image_small}} 300w,
                    {{img_url_feature_image_medium}} 600w,
                    {{img_url_feature_image_large}} 1000w,
                    {{img_url_feature_image_extralarge}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url_feature_image_medium}}"
            /* preview-end */
            /* ghost-start */
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url feature_image size="m"}}"
            /* ghost-end */

            alt="{{title}}"
        />
    </a>
    {{/if}}

    {{#if feature_image}}
        <p>{{excerpt_short}}</p>
        <p>{{excerpt words="44"}}</p>
    {{else}}
        <p>{{excerpt_long}}</p>
        <p>{{excerpt words="30"}}</p>
    {{/if}}

    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>

    <p class="">Read more →</p>
</article>
/* wordpress-not-end */
/* wordpress-start */
<article { ...blockProps }>
    <a
        className="wp-block-image article-image imagelink"
        href={ imagelink }
        target="_blank"
        rel="noopener noreferrer"
    >
        { mediaURL && <img src={ mediaURL } alt="" /> }
    </a>
    <div className="article-text-block">r
        <RichText.Content
            tagName="h3"
            className="article-title"
            value={ title }
        />
        <RichText.Content
            tagName="span"
            className="image-marker image-marker-date"
            value={ date }
        />
        <RichText.Content
            tagName="p"
            className="article-description"
            value={ description }
        />
        <RichText.Content tagName="p" className="article-read-more">
            <RichText.Content
                tagName="span"
                className="btn-sm article-link"
                value={ link }
            />
        </RichText.Content>
    </div>
</article>
/* wordpress-end */