/* Should just be article space, no wrapper. Not sure what the section content is for in Ghost. */

/* wordpress-not-start */
/* html-start */
    <a href="../single-post-simple/" class="">
        <img src="../assets/img/placeholder.jpg" alt="Placeholder"/>

        <h2 class="">New Post</h2>
        <p class="">Fri, May 29, 2020</p>

        <p class="formattingtextbody">
            Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
        </p>
        
        <p class="">Read more →</p>
    </a>
/* html-end */

/* craft-start */
<article class="article article-sm sm">
  <a href="{{ entry.url }}" class="">
    <h2 class="">{{ entry.blogTitle }}</h2>
    {% for image in images %}
        <img src="{{ image.url }}" alt="{{ image.title }}">
    {% endfor %}

    <p>{{ entry.excerpt }}</p>

    <p class="">{{!-- entry.postDate|datetime('D, M j, Y') --}}</p>
    
    <p class="">Read more →</p>
  </a>
</article>
/* craft-end */

/* ghost-start */
<article class="article article-sm sm {{post_class}} {{#unless feature_image}}no-image{{else}}{{/unless}}">

    <h2 class="">{{title}}</h2>

    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="post-card-image"
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url feature_image size="m"}}"
            alt="{{title}}"
        />
    </a>
    {{/if}}

    {{#if feature_image}}
        <p>{{excerpt words="30"}}</p>
    {{else}}
        <p>{{excerpt words="44"}}</p>
    {{/if}}

    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>

    <p class="">Read more →</p>
</article>
/* ghost-end */

/* wordpress-not-end */
<?php
/* wordpress-start */
/* Change to a block made in WordPress that can be loaded as a pattern. */
/* Not a block, a pattern. */

// WordPress CMS

/**
 * Brand Block
 */
return array(
    'title'      => __( 'Image Feature Short 01', 'slim-2022' ),
    'categories' => array( 'slim' ),
    'content'    => '<!-- wp:block-article/article-block {"mediaID":21,"imagelink":"http://ff-pitin.local/_becauseyouhaveto"} -->
    <article class="wp-block-block-article-article-block">
        <a class="wp-block-image article-image imagelink" href="http://ff-pitin.local/_becauseyouhaveto" target="_blank" rel="noopener noreferrer"><img src="http://FF-PITIN.local/_becauseyouhaveto/sparewordpress/wp-content/uploads/2022/01/placeholder.jpg" alt=""/></a>
        <div class="article-text-block">
            <h3 class="article-title">test</h3>
            <span class="image-marker image-marker-date">2022-01-12T09:45:00</span>
            <p class="article-description">description</p><p class="article-read-more"></p>
        </div>
    </article>
    <!-- /wp:block-article/article-block -->',
);


/*
<article class="article article-sm sm">
    <h2 class="">
        {{title}}
    </h2>

    /* Have a series of comments and sequence those commits in Gulp so it trips down to just what is needed for each use. (Combine more of these pieces and comment in line.) */
    
    {{#if feature_image}}
    <a class="post-card-image-link" href="{{url}}">
        {{!-- This is a responsive image, it loads different sizes depending on device
        https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
        <img class="post-card-image"

            /* preview-start */
            srcset="{{img_url_feature_image_small}} 300w,
                    {{img_url_feature_image_medium}} 600w,
                    {{img_url_feature_image_large}} 1000w,
                    {{img_url_feature_image_extralarge}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url_feature_image_medium}}"
            /* preview-end */
            /* ghost-start */
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 1000px) 400px, 700px"
            src="{{img_url feature_image size="m"}}"
            /* ghost-end */

            alt="{{title}}"
        />
    </a>
    {{/if}}

    {{#if feature_image}}
        /* preview-start */
        <p>{{excerpt_short}}</p>
        /* preview-end */
        /* ghost-start */
        <p>{{excerpt words="44"}}</p>
        /* ghost-end */
    {{else}}
        /* preview-start */
        <p>{{excerpt_long}}</p>
        /* preview-end */
        /* ghost-start */
        <p>{{excerpt words="30"}}</p>
        /* ghost-end */
    {{/if}}

    /* preview-start */
    <time datetime="{{date}}">{{date}}</time>
    /* preview-end */
    /* ghost-start */
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    /* ghost-end */

    <p class="">Read more →</p>
</article>
*/
/* wordpress-end */