	{% include "_components/header" %}

	<div class="media">
	    <div class="container">
	    <h1 class="">{{ entry.blogTitle }}</h1>

	{% for asset in entry.blogFeaturedImage %}
	    <img src="{{ asset.url }}" alt="{{ asset.title }}">                               
	{% endfor %}

	    <div class="">
	      <p>{{ entry.postDate|datetime('D, M j, Y') }}</p>
	    </div>
	    <div class="">
	      {{ entry.blogContent }}
	    </div>
	  </div>
	</div>

	{% include '_components/footer' %}