{# Create an entry query with the 'section' and 'limit' parameters #}
{% set myEntryQuery = craft.entries()
    .section('blog_posts')
    .limit(3) %}

{# Fetch the entries #}
{% set entries = myEntryQuery.all() %}

<div class="">
	<div class="container">

		<h2 class="">Latest stories</h2>

		<div class="latest-stories">
		  <ul class="navigation-list">
		  		{% for entry in entries %}

				{% set myAssetQuery = craft.assets()
				    .volume('defaultvolume')
				    .kind('image') %}

				{# Fetch the assets #}
				{% set images = myAssetQuery.all() %}

				<li class="twelve columns">
					<a href="{{ entry.url }}" class="">
				    {% for image in images %}
				        <img src="{{ image.url }}" alt="{{ image.title }}">
				    {% endfor %}

						<h2 class="">{{ entry.blogTitle }}</h2>
						<p class="">{{ entry.postDate|datetime('D, M j, Y') }}</p>
						
						<p class="">Read more →</p>
					</a>

				</li>
				{% endfor %}
		  </ul>
		</div>

	</div>
</div>
