{{!-- layouts/homepage-2-column.hbs --}}

{{#> layouts/headerfooter-common template="simple" }}

{{#*inline "body"}}

	<div class="container">

		<div class="article-body article-width">
			{{#> blocks/block-imagealigned align="right"}}
			{{/blocks/block-imagealigned}}

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<div class="block-latest-posts">
				{{#> blocks/block-postpreview-article align="left" number="0"}}
				{{/blocks/block-postpreview-article}}
			</div>

			{{#> blocks/block-imagealigned align="left"}}
			{{/blocks/block-imagealigned}}

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<p>
				{{selectContent posts 0 'body'}}
			</p>

			<div class="block-latest-posts">
				{{#> blocks/block-postpreview-article align="left" number="0"}}
				{{/blocks/block-postpreview-article}}

				{{#> blocks/block-postpreview-article align="left" number="1"}}
				{{/blocks/block-postpreview-article}}
			</div>	
		</div>
	</div>

{{/inline}}


{{/layouts/headerfooter-common}}
